<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="libraryConnectionString" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=library"
      providerName="MySql.Data.MySqlClient" />
    <add name="libraryConnectionString1" connectionString="server=localhost;user id=root;persistsecurityinfo=True;password=10043;database=library"
      providerName="MySql.Data.MySqlClient" />
    <add name="libraryConnectionString2" connectionString="server=localhost;user id=root;database=library;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="libraryConnectionString3" connectionString="Data Source=QH-20150817QGIA;Initial Catalog=library;User ID=sa;Password=713"
      providerName="System.Data.SqlClient" />
    <add name="libraryConnectionString4" connectionString="Data Source=localhost;Initial Catalog=library;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost-sqlserver" connectionString="Data Source=localhost;Initial Catalog=library;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"  />
    <authentication mode="Forms">
      <forms timeout="600" slidingExpiration="true" loginUrl="~/default.aspx" />


    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>